version: '3.8'

services:
  app:
    image: ghcr.io/fursovamashaa/catty-reminders-app:lab4
    ports:
      - "8181:8181"
    environment:
      DATABASE_URL: mysql://root:mypass@db:3306/catty_reminders
      SECRET_KEY: ${SECRET_KEY:-default-secret-key}
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: mypass
      MYSQL_DATABASE: catty_reminders
    volumes:
      - mysql_data:/var/lib/mysql
    restart: unless-stopped

volumes:
  mysql_data:
