name: CD Pipeline

on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SSH_HOST }}
          port: ${{ secrets.SSH_PORT }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            echo "Login to GHCR..."
            echo '${{ secrets.GITHUB_TOKEN }}' | docker login ghcr.io -u ${{ github.actor }} --password-stdin

            # Используем тег по ветке (например, docker-latest)
            IMAGE="ghcr.io/fursovamashaa/catty-reminders-app:docker"  # ← имя в нижнем регистре!

            echo "Pull image: $IMAGE"
            docker pull "$IMAGE"

            echo "Stop old container..."
            docker stop catty-reminders 2>/dev/null || true
            docker rm cotty-reminders 2>/dev/null || true

            echo "Start new container..."
            docker run -d \
              --name catty-reminders \
              -p 8181:8181 \
              --restart unless-stopped \
              "$IMAGE"

            echo "✅ Done! App URL: http://app.fursova.course.prafdin.ru"
